<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/navigation.ejs') %>
  <div id="banner">
    <img src="https://www.keds.co.kr/data/banner/main_middle_39.jpg" alt="Keds 이미지" width="100%">
  </div>
  <div id="item1">
    <div class="item_img"><img src="https://assets.styleship.com/keds/data/productimages/a/3/5XM01542E_100.jpg" alt="트리플 캔버스" width="177px"></div>
    <div class="item_name"><%= itemName %></div>
    <div class="item_price"><%= itemPrice %></div>
    <div class="item_tag">
      <div class="item_tag1"><%= itemTag1 %></div>
      <div class="item_tag1"><%= itemTag2 %></div>
    </div>
  </div>
  
<%- include('includes/end.ejs') %>